W1VuaXRdDQpEZXNjcmlwdGlvbj1UaW55cHJveHkgbGlnaHR3ZWlnaHQgSFRUUCBQcm94eQ0KQWZ0ZXI9bmV0d29yay50YXJnZXQNCkRvY3VtZW50YXRpb249bWFuOnRpbnlwcm94eSg4KSBtYW46dGlueXByb3h5LmNvbmYoNSkNCg0KW1NlcnZpY2VdDQpUeXBlPWZvcmtpbmcNCkV4ZWNTdGFydD0vdXNyL3NiaW4vdGlueXByb3h5DQpQSURGaWxlPS9ydW4vdGlueXByb3h5L3Rpbnlwcm94eS5waWQNClByaXZhdGVEZXZpY2VzPXllcw0KUnVudGltZU1heFNlYz01NXMNClJlc3RhcnQ9YWx3YXlzDQoNCltJbnN0YWxsXQ0KV2FudGVkQnk9bXVsdGktdXNlci50YXJnZXQ
